<table id="example2" class="table table-bordered table-hover text-center">
  <thead>
    <tr class="background-color">
      <th><%= t "stt" %></th>
      <th><%= t "doctor_name" %></th>
      <th><%= t "patient_name" %></th>
      <th><%= t "day" %></th>
      <th><%= t "start_time" %></th>
      <th><%= t "end_time" %></th>
      <th><%= t "room" %></th>
      <th class="action-head"><%= t "action" %></th>
    </tr>
  </thead>

  <tbody>
    <%= render 'appointments/appointment' %>
  </tbody>
</table>